body {
background-color: #f0f3f5;;
}

a {
  color:unset; 
}
a:link{
  text-decoration: none;
}

#icon{
  height: 50px;
  width: 50px;
}

#bankBg{
  margin-top: 40px;
  height: 100%;
  width: 100%;
  position:sticky
}

.title{
  margin-top: 40px;
  font-size: 40px;
  font-weight:bold;
  color: #0a2470;
}
.navTitle{
  font-size: 30px;
  font-weight:bold;
  color: #0a2470;
}
.desc{
  font-size: 20px;
}

#features{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

#features2{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 290px;

}
#features:hover{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translateY(-6px);
  background-color: #0a2470;
  color: white;
}

#features2:hover{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translateY(-6px);
  background-color: #0a2470;
  color: white;
}
.selected{
  background-color: #0a2470;
  color: white;
}
#transcard{
  margin-left: 15px;
  width: 420px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  /* margin: 10% auto; */
  margin-left:400px;
  margin-top:50px;
  margin-bottom:50px;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@media (max-width: 576px) {
  #bsRow{
    display: none;
  }
 }

